{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="container">
		<h2 class="center-text-content">{{ post.title }}</h2>
		<hr>
		<article class="media-content-section">
			<div class="media-body">
				<div class="article-metadata">
					<p class="center-text-content">{{ post.content }}</p>
				</div>
			</div>
		</article>
		<br>
		<form method="POST" action="{% url 'post' post.id %}">
			{% csrf_token %}
			<h6><em><label for="comment">Comment Text*</label></em></h6>
			<textarea id="comment" rows="8" cols="111" name="comment_text"></textarea>
			<input type="submit" name="post_comment" class="btn btn-primary" value="Post Comment">
		</form>
		{% if comments %}
			<br>
			<h3 class="center-text-content">Comments</h3>
			<hr>
			<br>
		{% endif %}
		{% for comment in comments %}
			<article class="media content-section">
			  <div class="media-body">
			    <div class="article-metadata">
			      <a class="mr-2" href="#">{{ comment.user.username }}</a>
			      <small class="text-muted">{{ comment.date_posted|date:"F d, Y" }}</small>
			    </div>
			    <p class="article-content">{{ comment.comment_text }}</p>
			    {% if user.is_superuser %}
			    	<a href="{% url 'delete-comment' comment.id %}" class="btn btn-sm btn-danger">Delete</a>
			    	<a href="{% url 'update-comment' comment.id %}" class="btn btn-sm btn-success">Modify</a>
			    {% elif comment.user == user %}
			    	<a href="{% url 'delete-comment' comment.id %}" class="btn btn-sm btn-danger">Delete</a>
			    	<a href="{% url 'update-comment' comment.id %}" class="btn btn-sm btn-success">Modify</a>
			    {% endif %}
			  </div>
			</article>
		{% endfor %}
		<br>
	</div>
{% endblock content %}